* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #FF8066;
    --purple: #845EC2;
    --darkGray: #4B4453;
    --lightGray: #B0A8B9;
    --rustRed: #C34A36;
    --darkPurple: #3D348B;
    --lightPurple: #7678ED;
    --yellow: #F7B801;
    --lightOrange: #F18701;
    --darkOrange: #F35B04;
    --cantinaLila: #381460;
    --cantinaGreen: #33a58e;
    --cantinaRosa: #e99f96;
    --cantinaGrey: #72808a;
    --cantinaCream: #fffef2;
}

@view-transition {
    navigation: auto;
}

button {
    all: unset;
}

/* html {
    position: fixed;
    z-index: 2000;
} */

body {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 10, "wght" 300;

}

/* ul {
    border-bottom: 1px solid var(--darkGray);
} */

main {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: unset;
    /* background-color: pink; */
}

section {
    position: absolute;
    top: 0;
    left: 0;
    /* flex: 0 1; */
    height: calc(100% - 48px);
    width: 100%;
    padding: 24px 24px 24px;
    width: 100%;
    /* background-color: grey; */
}

section.home {
    display: flex;
    flex-direction: column;
    background-color: var(--cantinaLila);
    min-height: 100%;
    /* background-color: #C34A36; */
    /* z-index: 6000; */
}

section.menu {
    display: block;
    height: 100%;
    border-top: 1px solid var(--darkGray);
    /* pointer-events: none; */
}

section.menu.no-point {
    /* pointer-events: none; */
}

.ticker-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    margin-top: 0px;
    display: flex;
    /* background-color: #7678ED; */
    /* width: 100%; */
    margin-right: 40%;
    height: 50%;
    z-index: 100;
    /* display: none; */

}

.ticker-item {
    position: relative;
    top: 75px;
    width: 100%;
    /* background-color: #a196ad; */
}


.ticker-head {
    width: fit-content;
    height: 20px;
    /* display: inline-block; */
    color: var(--cantinaLila);
    background-color: var(--cantinaRosa);
    padding: 0 4px;
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 600;
    /* overflow-x: hidden; */
    transition: all .5s ease-in-out;
    /* animation: blink 2s ease-in-out infinite alternate; */
}

.ticker-head.fade-out {
    opacity: 0;
}

.ticker-head.fade-in {
    opacity: 1;
}


.ticker-text {
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 600;
    color: var(--cantinaCream);
}

.club-btn {
    position: absolute;
    display: flex;
    font-variation-settings: "slnt" 0, "wdth" 10, "wght" 600;
    font-size: 1.3rem;
    line-height: 1.2rem;
    padding: 0 0 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cantinaLila);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    align-self: flex-end;
    text-align: center;
    /* max-width: fit-content; */
    background-color: var(--cantinaGreen);
    box-shadow: var(--cantinaCream) 5px 5px 0px;
    transition: all .25s ease-in-out;
    opacity: 1;
    cursor: pointer;
    z-index: 200;
    transform: rotate(-15deg);
    animation: club-spin 2s ease-in-out infinite alternate;
}

@keyframes club-spin {
    to {
        scale: 110%;
        /* box-shadow: var(--cantinaRosa) 2px 2px 0px; */
        color: var(--cantinaCream);
        transform: rotate(24deg);
    }
}

.club-btn:hover {
    background-color: var(--cantinaGrey);
    color: white;
}

.club-btn.pressed {
    font-size: 2rem;
    scale: 75%;
    background-color: var(--cantinaGrey);
    box-shadow: var(--cantinaCream) 2px 2px 0px;
}

.club-btn.active {
    background-color: var(--cantinaCream);
}



.club-btn__text {
    font-size: 1.2rem;
}

.club-form-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 84px;
    right: 24px;
    width: 280px;
    max-width: 100%;
    z-index: -100;
    /* overflow-y: visible; */
}

.club-form-wrapper.form-above {
    z-index: 200;
}

.club-form__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 400px; */
    height: 0;
    background-color: var(--cantinaGreen);
    box-shadow: var(--cantinaCream) 5px 5px 0;
    opacity: 0;
    /* Initially hidden */
    /* overflow: hidden; */
    /* Prevent content spill during height transition */
    transition: height 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
    z-index: 300;
    border-radius: 24px;
    overflow-y: visible;
    /* padding: 16px 24px 0; */

}

.club-form__content.open {
    height: 340px;
    /* Expanded height */
    opacity: 1;
    /* Fully visible */
    pointer-events: all;
}



.club-form {
    position: relative;

    width: 100%;
    padding: 16px;
    /* overflow-y: visible; */
    /* background-color: #381460; */
}

.form-labels {
    font-variation-settings: "slnt" 0, "wdth" 150, "wght" 800;
    color: var(--cantinaLila);
}

.form-input {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 75, "wght" 500;
    color: var(--cantinaLila);
}

input {
    all: unset;
    /* clear all browser defaults */
    display: block;
    /* or inline-block or flex depending on context */
    width: 100%;
    /* or a set width, like 300px */
    /* padding: 0.25rem;         optional for spacing */
    box-sizing: border-box;
    /* ensures width includes padding/border */
    background: var(--cantinaCream);
    border-radius: 16px;
    box-sizing: border-box;
}


input:focus {
    background: var(--cantinaRosa);
    outline: 2px solid var(--cantinaCream);
    z-index: 300;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
}

input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    /* border-radius: 4px; */
    cursor: pointer;
    font-variation-settings: "slnt" 0, "wdth" 150, "wght" 800;
    text-align: center;

}

input[type=submit]:hover {
    background-color: var(--cantinaRosa);
    outline: 2px solid black;
}

.club-form__bottom-drip-container {
    position: relative;
    display: block;

    top: -24px;
    width: 230px;
    background-color: wheat;
    height: 0px;
    /* z-index: 100; */
    pointer-events: none;
    /* overflow-y: visible; */
}

.club-form__bottom-drip-container.open {
    height: 8px;
}

.form-drip {
    position: absolute;
    height: 0px;
    aspect-ratio: 1 / 1;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: height ease-out;
}

.opening-hours-wrapper {
    position: relative;
    top: 8px;
    align-self: flex-end;
    justify-self: center;
    text-align: left;
    color: var(--cantinaCream);
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 800;
    padding-bottom: 8px;
    margin-right: 24px;
    /* background-color: #72808a; */
    /* margin-top: 80px; */
}

.hours-head {
    color: var(--cantinaCream);
    font-size: .75rem;
}

.opening-hours_list-item {
    font-size: .75rem;
    font-variation-settings: "slnt" 0, "wdth" 70, "wght" 400;
}

.hours-bold {
    color: var(--cantinaGreen);
    font-variation-settings: "slnt" 0, "wdth" 115, "wght" 800;
}

.hours-closed {
    color: var(--cantinaRosa);
}

.hours-narrow {
    font-variation-settings: "slnt" 0, "wdth" 70, "wght" 200;
}

.logo-wrapper {
    position: relative;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* height: 50%; */
    width: 100%;
    opacity: 1;
    overflow: hidden;
    color: var(--cantinaGreen);
    /* background-color: #7678ED; */
    /* padding-bottom: 25px; */
}

.logo__head {
    /* flex: 1; */
    text-align: center;

    align-content: end;
    opacity: 1;
    margin-bottom: -15px;
    transition: opacity .75s ease-in;
    /* background-color: orange; */
}

.logo__head.zero-opacity {
    opacity: 0;
}

.cantina-letter {
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 80, "wght" 300;
    letter-spacing: -20px;
    font-size: 5rem;
    opacity: 1;
    color: var(--cantinaRosa);
    transition: font-variation-settings .5s ease-in 2s,
        opacity .25s ease-in;
}

.logo__sub {
    position: relative;
    /* bottom: 12px; */
    display: flex;
    /* background-color: #4B4453; */
    /* height: 48px; */
}

.logo__sub__streetfood-wrap {
    transform-style: preserve-3d;
    perspective: 1000px;
    /* height: 8px; */
    /* background-color: #C34A36; */

}

.street-food,
.club {
    position: relative;
    bottom: 8px;
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 900;
    font-size: 1.4rem;
    color: var(--cantinaCream);
}

.street-food {
    opacity: 1;
    transition: all 1s ease-out;
}

.club {
    position: absolute;
    top: 2px;
    /* right: 0; */

    padding: 0 2px;
    margin-left: 5px;
    width: fit-content;
    background-color: var(--cantinaGreen);
    color: var(--cantinaLila);

    transform-origin: right;
    transform: rotateY(0deg);

    rotate: -5deg;

    visibility: visible;
    transition: all .25s ease-in-out;
}

.club.rolled-up {
    visibility: hidden;
    /* width: 0px; */
    transform: rotateY(80deg);

    padding: 0;
}

.logo__tagline,
.address {
    max-width: 300px;
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 350;
    /* background-color: orange; */
}

.below-logo-wrapper {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: .5;
    color: var(--cantinaGreen);

    /* background-color: #7678ED; */
}

.below-logo-container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    align-items: center;
    flex: 1;
    font-size: 1rem;
    text-align: center;
    font-family: "acumin-variable", sans-serif;
    max-width: 250px;

}

/* .address.nodisp {
    display: none;
} */

.splash-food {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    /* background-color: #3D348B; */
    /* white-space: pre; */
}

.splash-food span {
    font-size: 1.5rem;
    color: var(--cantinaRosa);
    letter-spacing: 1px;
}

.splash-food span:nth-of-type(3n+1) {
    /* color: var(--darkOrange); */
    font-variation-settings: "slnt" -12, "wdth" 50, "wght" 900;

}

.splash-food span:nth-of-type(3n+2) {
    font-variation-settings: "slnt" 0, "wdth" 75, "wght" 600;
    /* color: var(--rustRed); */
}

.splash-food span:nth-of-type(3n) {
    font-variation-settings: "slnt" -4, "wdth" 100, "wght" 900;

    /* color: var(--lightPurple); */
}

.spray-splash-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: end;
    /* background-color: #7678ED; */
    height: 1.5rem;
}

.spray-splash {
    display: inline-block;
    position: relative;
    top: 5px;
    height: 1.2rem;
    width: 1rem;
    /* background-color: #7678ED; */
    opacity: 1;
    scale: 1;
    transform: scale(100%);
    transition: opacity .5s ease-out,
        transform .25s ease-in;
}

.spray-splash.start {
    transform: scale(50%);
    opacity: 0;
}


.spray-splash img {
    object-fit: contain;

}


.spray-splash-drip {
    position: absolute;
    top: 60%;
    left: 0;
    height: 0px;
    width: 1px;
    transform-origin: top;
    background-color: var(--cantinaGreen);
    transition: height;
}

.social-section-container {
    position: absolute;
    /* padding-top: 16px; */
    left: 48px;
    top: 30%;
    /* background-color: #9e93aa; */
    height: fit-content;
    /* flex: 1; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    z-index: 100;
    /* align-items: center; */
}

.social-logo-wrapper {
    position: relative;
    display: block;
    /* border: red solid 1px; */

    /* background-color: #3D348B; */
}

.social-logo {
    display: flex;
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* background-color: #7678ED; */
    /* background-image: url(/img/Cantina_insta.svg) */
    transition: transform .1s ease-out;
}

.svg-insta,
.svg-fb {
    fill: var(--cantinaCream);
    transition: fill .1s ease-out;
}

.social-logo:hover {
    transform: scale(105%);
}


.social-logo:hover .svg-insta,
.social-logo:hover .svg-fb {
    fill: var(--cantinaGreen);
    /* background-image: url(/img/Cantina_insta--hover.svg); */
}

.social-splash {
    top: 0;
    height: 50px;
    position: absolute;
}

.address__para {
    color: var(--cantinaGreen);
}




.menu-wrapper {
    z-index: 200;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 24px 0px 0px 24px;
    /* margin-top: 24px 24px; */
    /* flex: 1; */
    transform: translateY(0);
    /* background-color: #C34A36;
    background-color: var(--yellow); */
    transition: transform 1s ease-in-out;
    pointer-events: none;
}

.menu-wrapper.close {
    transform: translateY(100%);
}

.menu__content {
    height: 100%;
    display: block;
    padding-left: 8px;
    padding-bottom: 200px;
    overflow-y: scroll;
    overscroll-behavior: none;
    background-color: #33a58e;
    /* background-color: red; */
    border-top: 4px solid var(--cantinaCream);
    transition: transform 1s ease-in-out;
    pointer-events: all;
    /* overflow-x: visible; */
}

.menu__content.close {
    transform: translateY(100%);
}

.menu__content.show {
    display: flex;
}

.menu__cat {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow-x: hidden;
}

.menu__cat-head {
    position: relative;
    padding-top: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    padding: 24px 8px 0px 4px;
    font-variation-settings: "slnt" 0, "wdth" 50, "wght" 900;
    transition: font-variation-settings 1s ease-in-out;
    color: var(--cantinaLila);
}

.menu__cat-head .blob {
    color: var(--darkPurple);
}

h2 {
    font-size: 5rem;
}

.menu-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

li {
    list-style: none;
}

.menu__item-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    padding: 8px;
    margin-right: 25px;
}

.menu__item.head {
    position: relative;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-variation-settings: "slnt" 0, "wdth" 50, "wght" 300;
    overflow: visible;
}

.tacos .menu__item-wrapper {
    color: var(--cantinaCream);
}


/* background color */

.snacks-n-nibbles .menu__item-wrapper {
    background-color: var(--cantinaRosa);
}

.broth-n-buns .menu__item-wrapper {
    background-color: var(--cantinaCream);
}

.tacos .menu__item-wrapper {
    background-color: black;
}

.sandwiches .menu__item-wrapper {
    background-color: var(--cantinaLila);
}

.kids .menu__item-wrapper {
    background-color: var(--cantinaRosa);
}

.sides .menu__item-wrapper {
    background-color: var(--cantinaGrey);
}

.dips .menu__item-wrapper {
    background-color: var(--cantinaCream);
}

.sweets .menu__item-wrapper {
    background-color: var(--cantinaRosa);
}

/* Item headlines */

.snacks.head {
    color: var(--cantinaCream);
}

.ramen.head {
    color: var(--cantinaRosa);
}

/* ramen dishes heads */
.menu__item.sans.ramen {
    /* font-variation-settings: "slnt" 0, "wdth" 90, "wght" 900; */
    color: var(--cantinaLila);
}

.bao.head {
    color: black;
}

.tacos.head {
    /* font-variation-settings: "slnt" 0, "wdth" 50, "wght" 600; */

    color: var(--cantinaCream);
}

.sandwiches.head {
    color: var(--cantinaRosa);
}

.sides.head {
    color: var(--cantinaLila);
}

.sweets.head {
    color: var(--cantinaCream);
}




/* item list text */

.menu__item.sans {
    width: 100%;
    padding-top: 4px;
    padding-right: 50px;
    position: relative;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-variation-settings: "slnt" 0, "wdth" 50, "wght" 700;
}

.menu__item.typewriter {
    position: relative;
    padding-top: 4px;
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 600;
    color: var(--cantinaLila);
}

.menu__item.typewriter.bold {
    font-variation-settings: "wght" 900;
}

.menu__item.intro {
    padding-top: .5rem;
    border-top: var(--cantinaLila) 4px solid;
}

/* Baos */

.bao .menu__item.sans.top-border {
    color: var(--cantinaGreen);
}

/* tacos */

.tacos.typewriter {
    color: var(--cantinaRosa);
}

.sandwiches.sans {
    color: var(--cantinaCream);
}

.sides div ul {
    color: var(--cantinaCream);
}

.dips div ul li {
    color: var(--cantinaRosa);
}

/* sides */

.menu-item.sides > .menu__item-wrapper:nth-last-child(-n + 2) .typewriter {
    color: var(--cantinaCream);
}

/* dips */

.menu-item.dips > .menu__item-wrapper > ul li:first-child {
    border-top: none;
}

.menu-item.dips > .menu__item-wrapper > ul li:nth-child(3n + 2) {
    color: var(--cantinaGreen);
}
.menu-item.dips > .menu__item-wrapper > ul li:nth-child(3n + 3) {
    color: var(--cantinaLila);
}

/* top border */
.menu__item.sans.top-border {
    padding-top: .5rem;
    border-top: var(--cantinaLila) 1px solid;
}

.menu__item.sans.indent {
    padding: .25em .5em;
}

.sweets div ul li {
    color: var(--cantinaLila);
}

/* dotted list item */

.list-dot::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0.25em;
    color: var(--cantinaLila);
    width: 1rem;
}

/* prices */

.price {
    position: absolute;
    font-size: 1.4rem;
    line-height: 2rem;

    text-align: end;

    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 900;
    color: var(--cantinaLila);
    top: 40%;
    right: -16px;
    width: 120px;
    z-index: 100;
    /* height: 64px; */
    /* background-color: wheat; */
}

.price.big {
    font-size: 2rem;
}

.price-top {
    top: 0;
}

.rosa {
    color: var(--cantinaRosa);
}

.menu-item.sandwiches>.menu__item-wrapper:nth-of-type(4) .price {
    /* color: black; */
    top: 2.5rem;
}

.cat-head-price.price {
    /* position: relative; */
    color: var(--cantinaCream);
    top: 3.5rem;
    right: 2.5rem;
    /* background-color: #381460; */
    width: 200px;
}

.kids.price.cat-head-price {
    font-size: 1rem;
    /* bottom: 36px; */
    top: 50px;
    left: 0;
    text-align: center;
    /* background-color: #33a58e; */
}

.dips.price.cat-head-price {
    color: var(--cantinaLila);
}

.sides div.price {
    color: var(--cantinaRosa);
}

.menu-item.sides > .menu__item-wrapper:nth-last-child(-n + 2) .price {
    /* color: pink; */
    top: 0;
}

.sweets div.price {
    color: var(--cantinaCream);
}

/* IM HERE!!!!! */

.allergy {
    margin-top: 48px;
    width: 200px;
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 900;
    color: var(--darkGray);
}

.menu__btn-wrapper {
    position: relative;
    /* height: 200px; */
    bottom: 0;
    /* left: 0; */
    /* justify-self: end; */
    /* height: fit-content; */
    align-self: end;
    display: flex;
    flex-direction: column;
    /* padding: 8px; */
    width: 200px;
    /* justify-content: space-between; */
    /* justify-items: stretch; */
    /* gap: 16px; */
    /* background-color: var(--cantinaCream); */
    z-index: 1000;
    pointer-events: all;
    /* display: none; */
}

.menu__btn-wrapper div {
    padding: 8px 24px 24px 8px;
    display: flex;
}

.menu__btn {
    all: none;
    /* height: 50px; */
    /* text-align: ; */
    flex: 1 0 auto;
    /* gap: 4px; */
    /* height: 30px; */
    background: none;
    padding: 8px 8px;
    /* border: 1px solid var(--darkPurple); */
    border-style: none;
    font-size: 1rem;
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 600;
    /* box-shadow: var(--darkOrange) 3px 3px 0px; */

    opacity: 1;
    transition: all .15s ease-in-out;
}

.menu__sections-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    transition: transform .5s ease-in-out;
}

.menu__sections-wrapper.close {
    transform: translateY(120%);
}

.btn-menu-section {
    background-color: var(--cantinaCream);

    color: var(--cantinaLila);
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 30, "wght" 900;
}

.menu__op-wrap {
    /* background-color: var(--cantinaCream); */
    z-index: 100;

}

.btn-op {
    background-color: #33a58e;
    /* text-align: center; */
}

.menu__btn.pressed {
    scale: 90%;
    background-color: var(--darkPurple);
    box-shadow: var(--darkOrange) 1px 1px 0px;
}

.menu__btn.active {
    background-color: var(--cantinaRosa);
    color: var(--cantinaCream);
}


.zero-opacity {
    transition: opacity 1.5s ease-in;
    opacity: 0;
}

/* .club-btn.pressed {
    font-size: 2rem;
    scale: 75%;
    background-color: var(--lightPurple);
    box-shadow: var(--darkOrange) 2px 2px 0px;


}

.club-btn.active {
    background-color: var(--orange);
} */

.form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cantinaGreen);
}

.hidden-club-field {
    position: absolute;
    visibility: hidden;
}

.club-joined {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    text-align: center;
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 600;
    color: var(--cantinaCream);
}

@media (max-height: 700px) {

    .ticker-item {
        top: 50px;
    }
}