:root{
    --mdMenuPadding: 1rem;
    --text-lineHeight: 1;
}

body {
    position: relative;
    /* padding: var(--bodyPadding); */
    background-color: var(--cantinaCream);
    height: 100vh;
    width: 100vw;
    /* overflow-y: scroll; */
    /* pointer-events: none; */
}

body h1 {
    font-size: calc(var(--textFontSize) * 4 );
}

body.md-menu .hours-bar {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: min-content min-content;
    justify-items: start;
    gap: 1rem;
    /* justify-content: space-between; */
    /* align-items: stretch; */
    background: var(--cantinaCream);
    /* border-bottom: 1px solid black; */
    padding: var(--mdMenuPadding) ;
    font-size: calc(var(--textFontSize) * 1.2);
    z-index: 100;
    transition: background .5s ease-out;
    font-size: var(--textFontSize);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    /* background-color: lightcoral; */
}

body.md-menu .section.hours .section__header{
    display: flex;
    /* gap: .5rem; */
    flex-direction: column;
    /* align-items: center; */
}

body.md-menu .section.hours.lunch-hours .section__header{
    gap: .25rem;
    flex-direction: row;
}

body.md-menu .section.hours .section__header .section__title::after {
    content: ":"
}

body.md-menu .section.hours .section__header h2{
    font-variation-settings: "slnt" 0, "wdth" 50, "wght" 600;
    margin-bottom: 0.25rem;
    font-size: var(--textFontSize);
}

body.md-menu .section.hours.lunch-hours .section__header{
    /* align-items: end; */
}



body.md-menu .md-logo-wrapper {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    padding: var(--mdMenuPadding);
    z-index: 500;
}

body.md-menu .md-logo-wrapper a {
    position: relative;
    display: flex;
    height: 24px;
    width: 100%;
    /* background-color: aqua; */
}

body.md-menu .hours-logo {
    position: relative;
    display: block;
    /* grid-area: t; */
    /* top: -2rem; */
    height: 100%;
    width: 100%;
    background-image: url(/img/cantina-logo-cropped.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: orange; */
    /* padding: var(--mdMenuPadding); */
    /* margin-top: .5rem; */
    /* margin: 1rem; */
}

/* section.hours div, */
section.hours ul {
    display: flex;
    flex-direction: row;
    /* align-items: end; */
    list-style: none;
    gap: 1rem;
    overflow: visible;
}

body.md-menu .hours-bar div .section {
    margin: 0;
    overflow: visible;
}


main {
    padding: 0;
}

body.md-menu main.md-menu-wrapper {
    /* position: absolute;
    top: 0; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto;
    column-gap: 2rem;
    row-gap: 0;
    pointer-events: auto;
    /* height: 100%; */
    width: 100%;
    padding: var(--mdMenuPadding);
    overflow-y: scroll;
    overflow-x: hidden;
    grid-template-areas:
    "h"
    "l"
    "r"
    "s"
    "c"
    ;
    /* background-color: aqua; */

}


@media (min-width: 768px) {
    :root {
        --mdMenuPadding: 2rem;
    }
    body.md-menu main.md-menu-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "h h"
        "l r"
        "l s"
        "c s"
        ;
        grid-template-rows: 250px auto;
    }
    body.md-menu .md-logo-wrapper a {
    height: 36px;
    }
}

@media (min-width: 1400px) { 
    body.md-menu main.md-menu-wrapper {
        grid-template-columns: repeat(3, 1fr) 200px;
        grid-template-areas:
        "h h h h"
        "l c r s"
        "l c r s"
        ;
    }
}


body.md-menu main.md-menu-wrapper .menu__section.head {
    grid-area: h;
    justify-items: center;
    padding-top: var(--mdMenuPadding);
    align-content: center;
}

body.md-menu main.md-menu-wrapper .menu__section.left-group {
    grid-area: l;
}

body.md-menu main.md-menu-wrapper .menu__section.side-group {
    grid-area: s;
}

body.md-menu main.md-menu-wrapper .menu__section.center-group {
    grid-area: c;
}


div section.section {
    --sectionborderThick: 4px solid black;
    --sectionPadding: 1rem;
    position: relative;
    /* background-color: red; */
    /* padding-bottom: var(--sectionPadding); */
}

.section:not(.hours) {
    --priceSize: calc(var(--textFontSize) * 2);
    margin-bottom: 4rem;
}

.section__header {
    position: relative;
}

.section__title:NOT(.hours-bar .section__title) {
    font-size: var(--priceSize);
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 900;
    word-break: break-word;
    hyphens: auto;
    margin-bottom: 1rem;
}

.section h3 {
    /* font-size: var(--priceSize); */
    font-variation-settings: "slnt" 0, "wdth" 75, "wght" 600;
    /* margin-bottom: 1.5rem; */
}

.section .dish {
    border-color: var(--cantinaGreen);
    margin-bottom: 1rem;
}

.section .dish:first-of-type {
    border-top: var(--sectionborderThick);
    margin-top: 1rem;
    padding-top: 1rem;
}

.section .dish:last-of-type {
    border-bottom: var(--sectionborderThick);
}

.section__sub,
.dish__wrapper {
    /* display: flex; */
    justify-content: space-between;
}

.section__sub .section__intro {
    flex: 1;
}


/* spice and veg symbols */

.dish--veg h3::after,
section.section--poke .dish__intro::after,
.dish--spicy h3::after,
li.dish__choice--veg::after,
.dish--spicy>h3::after,
li.dish__choice--spicy::after,
.dish--spicy>h3::after,
li.dish__choice--spicyveg::after {
    display: inline-block;
    font-size: 1rem;
    margin-left: .25rem;
    position: relative;
    bottom: .15rem;
    /* border: 3px solid var(--cantinaRosa); */
    /* background-color: var(--cantinaGreen); */
    padding: .35rem;
    /* border-radius: 50%; */
}

.dish--veg h3::after,
section.section--poke .dish__intro::after,
li.dish__choice--veg::after {
    content: "🥦";
}

.dish--spicy>h3::after,
li.dish__choice--spicy::after {
    content: "🌶";
}

li.dish__choice--spicyveg::after {
    content: "🌶 🥦";
}

.dish--featured h3::after {
    content: "★";
}



.dish {
    position: relative;
    border-bottom: 1px solid black;
    padding-bottom: .5rem;
}

.dish__fields {
    width: 100%;
    /* background-color: aqua; */
}

.dish__extras {
    padding-top: .25rem;
    color: var(--cantinaGreen);
}

.dish--choice {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    /* align-items: center; */
    gap: .5rem;
    /* text-align: center; */
    /* text-decoration: underline; */
}

.dish--choice>h3 {
    width: fit-content;
    font-size: smaller;
}


article.dish--choice h3 ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 32px;
    list-style: none;
}

article.dish--choice h3 ul li::before {
    content: "☞ ";
    position: absolute;
    transform: translate(-32px, 4px);
    font-size: smaller;
    /* left: 0px; */
}


.dish ul li ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

ul.price {
    display: flex;
    flex-direction: column;
    font-size: var(--priceSize);
    align-items: end;
    justify-content: end;
    white-space: nowrap;
    list-style: none;
    margin-left: 1rem;
    color: var(--cantinaRosa);
    /* background-color: blue; */
}

ul.price li:first-child {}

ul.price>li:first-child>span.price-number {
    /* background-color: blue; */
    font-size: 1.5em;
    /* font-size: smaller; */
}

ul.price span.kronor {
    margin-left: .15rem;
}