* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cantinaLila: #381460;
    --cantinaLilaDark: rgb(14, 5, 25);
    --cantinaGreen: #33a58e;
    --cantinaRosa: #e99f96;
    --cantinaGrey: #72808a;
    --cantinaCream: #fffef2;

    --logo-font-size: 80px;
    --sfc-font-size: calc(var(--logo-font-size) * 0.3);

    --foodMenuPaddingOuter: 1rem;
    --foodMenuPaddingInner: .5rem;

    --bodyPadding: 1.5rem;
    --bodyPaddingHalf: calc(var(--bodyPadding) * 0.5);
    --bodyPaddingQuarter: calc(var(--bodyPadding) * 0.25);

    --textFontSize: 0.9rem;
    --text-lineHeight: 0.9;

    --textFontSizeSmall: calc(var(--textFontSize) * 0.5);
    --extraPagesHeadline: 3rem;

    --menuCatHead: 3rem;


    --fontCantina: "acumin-variable", sans-serif;

    --fontTypewriter: "ltr-ncnd-variable", sans-serif;
    --foodMenuContentHeight: 1000px;

    --bgColor: var(--cantinaLila);
    --logoColor: var(--cantinaCream);

    --clubBGColor: var(--cantinaGreen);
    --clubShadowColor: var(--cantinaRosa);
}

.bg-green {
    background-color: var(--cantinaGreen);
}

.bg-lila {
    background-color: var(--cantinaLila);
}

.bg-cream {
    background-color: var(--cantinaCream);
}

.bg-rosa {
    background-color: var(--cantinaRosa);
}

.bg-grey {
    background-color: var(--cantinaGrey);
}

.txt-green {
    color: var(--cantinaGreen);
}

.txt-lila {
    color: var(--cantinaLila);
}

.txt-cream {
    color: var(--cantinaCream);
}

.txt-rosa {
    color: var(--cantinaRosa);
}

.txt-grey {
    color: var(--cantinaGrey);
}

@view-transition {
    navigation: auto;
}

button {
    all: unset;
}

a {
    text-decoration: none;
}

body {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    font-size: var(--textFontSize);
    line-height: var(--text-lineHeight);
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 10, "wght" 300;
    background-color: var(--bgColor);
    overflow: hidden;
}

/* --> SNOW <---------- */

#snow {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
    /* ⬅ foreground snow */
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -50px;
    color: white;
    user-select: none;
    animation-name: fall;
    animation-timing-function: linear;
    text-shadow: 0 0 6px currentColor;
}

@keyframes fall {
    to {
        transform: translate(var(--drift), 110vh) rotate(720deg);
    }
}


/* --> LOGO <---------- */

.logo-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    flex: .65;
}

.logo__tagline {
    line-height: 1;
}

.logo {
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    justify-content: end;
}

.logo__word {
    display: flex;
    width: 100%;
    text-align: center;
    align-content: end;
    opacity: 1;
    transition: opacity .75s ease-in;
}

.logo__word--cantina-wrapper {
    position: relative;
    display: flex;
    opacity: 1;
    margin-bottom: var(--logo-margin-bottom);
    overflow: visible;
    transition: opacity 1.5s ease-out;
}

.logo__word--cantina {
    display: inline-block;
    width: 100%;
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 50, "wght" 100;
    letter-spacing: -2px;
    font-size: var(--logo-font-size);
    color: var(--logoColor);
    transition: opacity 1s ease-in .5s;
    opacity: 0;
}

.logo__word--cantina.show {
    opacity: 1;
}

.cantina-letter {
    transition: font-variation-settings .5s ease-out 2s;
}

.logo__line--sfc-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fontTypewriter);
    font-variation-settings: "wght" 900;
    font-size: var(--sfc-font-size);
}

.logo__line--sfc-wrapper span {
    position: relative;
}

.logo__word--streetfood-wrapper {
    margin-top: var(--textFontSizeSmall);
}

.logo__word--streetfood-wrapper span {
    transition: opacity 0.1s ease-out;
    color: var(--cantinaGrey);
    color: var(--logoColor);
}

.logo__words--streetfood.zero-opacity {
    opacity: 0;
}

.logo__word--club-wrapper {
    transform-style: preserve-3d;
    perspective: 1000px;
}

.logo__word--club-wrapper {
    position: absolute;
    top: calc(var(--textFontSize) / 16);
    padding: calc(var(--textFontSize) / 8);
    margin-left: var(--textFontSizeSmall);
    width: fit-content;
    background-color: var(--cantinaGreen);
    color: var(--bgColor);
    /* color: black; */

    transform-origin: right;
    transform: rotateY(0deg);

    rotate: -5deg;

    overflow: visible;
    transition: all .25s ease-in-out;
}

.logo__word--club-wrapper.rolled-up {
    visibility: hidden;
    transform: rotateY(80deg);

    padding: 0;
}

.logo__tagline,
.address {
    max-width: 300px;
    font-family: var(--fontTypewriter);
    font-variation-settings: "wght" 750;
    font-size: var(--textFontSize);
    color: var(--cantinaRosa);
    /* color: black; */
}

.logo__tagline {
    padding-top: var(--bodyPaddingHalf);
}

/* --> BELOW LOGO <---------- */

.below-logo-wrapper {
    position: relative;
    width: 100%;
    flex: .25;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    color: var(--cantinaGreen);
    /* z-index: 11; */
}

.below-logo__container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    align-items: center;
    flex: 1;
    font-size: var(--textFontSize);
    text-align: center;
    font-family: "acumin-variable", sans-serif;
    max-width: calc(var(--bodyPadding) * 11);

}

.below-logo__splash-food {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.below-logo__splash-food span {
    font-size: calc(var(--textFontSize) * 1.5);
    color: var(--logoColor);
    letter-spacing: 1px;
}

.below-logo__splash-food span:nth-of-type(3n+1) {
    font-variation-settings: "slnt" -12, "wdth" 50, "wght" 900;

}

.below-logo__splash-food span:nth-of-type(3n+2) {
    font-variation-settings: "slnt" 0, "wdth" 75, "wght" 600;
}

.below-logo__splash-food span:nth-of-type(3n) {
    font-variation-settings: "slnt" -4, "wdth" 100, "wght" 900;
}

.splash-food__splash-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    height: calc(var(--textFontSize) * 1.5);
}

.splash-food__spray-img {
    display: inline-block;
    position: relative;
    top: 5px;
    height: calc(var(--textFontSize) * 1.2);
    width: var(--textFontSize);
    opacity: 1;
    scale: 1;
    transform: scale(100%);
    transition: opacity .5s ease-out,
        transform .25s ease-in;
}

.splash-food__spray-img.start {
    transform: scale(50%);
    opacity: 0;
}


.splash-food__spray-img img {
    object-fit: contain;

}


.splash-food__spray--drip {
    position: absolute;
    top: 60%;
    left: 0;
    height: 0px;
    width: calc(var(--textFontSize) / 16);
    transform-origin: top;
    background-color: var(--cantinaRosa);
    transition: height;
}

.splash-food__spray--drip.spray-drip-second-color {
    background-color: var(--cantinaGreen);
    z-index: 10;
}

/* ----------> MAIN ELEMENTS <---------- */

main {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    padding: var(--bodyPadding);
    pointer-events: none;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

section.home {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: var(--bodyPadding);
    min-height: 100%;
    pointer-events: none;
}

/* --> TICKER <---------- */

.ticker-wrapper {
    position: absolute;
    left: var(--bodyPadding);
    top: var(--bodyPadding);
    display: flex;
    width: 60%;
    font-size: var(--textFontSize);
    font-family: var(--fontTypewriter);
    font-variation-settings: "wght" 600;
    pointer-events: auto;
}

.ticker__item__head {
    width: fit-content;
    font-variation-settings: "wght" 900;
    padding: 4px;
    color: var(--bgColor);
    background-color: var(--cantinaRosa);
    padding: 0 4px;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.ticker__item__head.fade-out {
    opacity: 0;
}

.ticker__item__text {
    padding-top: calc(var(--bodyPadding) * 0.25);
    color: var(--logoColor);
}

/* --> CLUB <---------- */

/* --> Club Button <---------- */

.club-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: var(--bodyPadding);
    top: var(--bodyPadding);
    color: var(--bgColor);
    cursor: pointer;
    z-index: 300;
    border-radius: 50%;
    width: calc(var(--bodyPadding) * 3);
    aspect-ratio: 1/1;
    overflow: hidden;
    background-color: var(--logoColor);
    animation: club-spin 2.5s ease-in-out infinite alternate;
    pointer-events: auto;
    font-size: calc(var(--textFontSize) * 2);
    font-variation-settings: "slnt" 0, "wdth" 50, "wght" 600;
    transition: all .5s ease-out;
}

@keyframes club-spin {
    50% {
        transform: rotate(-15deg);
    }

    100% {
        box-shadow: var(--cantinaGreen) 5px 5px 0px;
        transform: rotate(24deg) scale(110%);
    }
}

@media (hover: hover) {
    .club-btn:hover {
        background-color: var(--cantinaRosa);
        color: white;
        animation-play-state: paused;
    }
}

.club-btn.pressed {
    scale: 75%;
    box-shadow: var(--bgColor) 2px 2px 0px;
    color: var(--cantinaRosa);
}

@media (hover: hover) {
    .club-btn.pressed:hover {
        color: var(--cantinaLila);
        background-color: var(--logoColor);
    }
}

.club-btn.active {
    background-color: var(--cantinaRosa);
    font-variation-settings: "slnt" 0, "wdth" 115, "wght" 600;
    font-size: calc(var(--textFontSize) * 3)
}

.club-btn__text-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

.club-btn__text-container {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    line-height: 0.8;
    transform: translateX(-50px);
}

.club-btn__text-container:nth-of-type(odd) {
    transform: translateX(50px);
}

.club-btn__text-container {
    animation: slide 5s cubic-bezier(.49, .01, 0, 1.04) infinite alternate;
}

@keyframes slide {
    50% {
        transform: translateX(0);
    }
}

.club-btn__text {
    white-space: nowrap;
    display: inline-block;
}

/* --> Club Form <---------- */

.club-form-wrapper,
.club-form__bottom-drip-container {
    width: calc(100% - var(--bodyPadding) * 2);
    max-width: 350px;
    /* background-color: orange; */
}

.club-form-wrapper {
    container-type: size;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: var(--bodyPadding);
    z-index: 100;
    height: 100%;
}



.club-form-wrapper.form-above {
    z-index: 200;
}

.club-form__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 0;
    background-color: var(--clubBGColor);
    box-shadow: var(--clubShadowColor) 5px 5px 0;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
    z-index: 300;
    border-radius: 24px;
    overflow-y: hidden;
    padding: 16px 0 16px 0;
    overflow-x: hidden;
}

.club-form__content,
.club-form__bottom-drip-container {
    top: calc(var(--bodyPadding) * 3.5);
}


.club-form__content--open {
    height: 340px;
    opacity: 1;
    pointer-events: all;
}

@container (min-height: 769px) {
    .club-form__content--open {
        height: 600px;
    }
}

.club-form__content__zoho-iframe {
    width: 350px;
}

.club-form__gummy-img {
    position: absolute;
    pointer-events: none;
    width: 100px;
    height: auto;
    top: 38px;
    right: -4px;
    z-index: 100;
}

.club-form__bottom-drip-container {
    position: relative;
    display: block;
    height: 200px;
    pointer-events: none;
    z-index: 300;
    overflow-y: visible;
    transform: translateY(-4px);
}

.form-drip {
    position: absolute;
    height: 0px;
    aspect-ratio: 1 / 1;
    background-color: var(--clubBGColor);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: height ease-out;
}

/* --> OPENING HOURS <---------- */

.opening-hours-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 100px;
    width: 100%;
    padding-left: var(--bodyPadding);
    text-align: left;
    color: var(--cantinaRosa);
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 800;
    line-height: 1.2;
    pointer-events: auto;
    font-size: calc(var(--textFontSize) * .9);
}

.opening-hours-list-container {
    display: flex;
    position: relative;
    column-gap: 8px;
    width: fit-content;
}

.opening-hours-list {
    list-style: none;
    /* width: 150px; */
    overflow-x: visible;
}

.opening-hours-list ul {
    align-self: flex-start;
    justify-self: start;
}

.hours-head {
    color: var(--cantinaGreen);
    align-self: flex-start;
    font-size: calc(var(--textFontSize) * 1.2);
    padding-bottom: var(--bodyPaddingQuarter);
    animation: hour-times .5s infinite alternate;
    display: block;
}

@keyframes hour-times {
    29% {
        color: var(--cantinaLila);
    }

    30% {
        color: var(--bgColor);
    }
}

.opening-hours__days {
    font-variation-settings: "slnt" 0, "wdth" 70, "wght" 600;
    letter-spacing: 1px;
}

.opening-hours__hours {
    color: var(--logoColor);
    transition: font-variation-settings .25s ease-in;
    font-variation-settings: "slnt" 0, "wdth" 115, "wght" 600;
}

.opening-hours__hours--blob {
    color: var(--cantinaGreen);
    font-variation-settings: "slnt" 0, "wdth" 150, "wght" 900;
}

/* --> SOCIALs <---------- */

.social-section-container {
    position: absolute;
    left: 0;
    bottom: calc(var(--bodyPadding) * 2);
    /* background-color: #9e93aa; */
    height: fit-content;
    display: flex;
    pointer-events: auto;
}

.social-logo-wrapper {
    position: relative;
    display: flex;
}

.social-logo {
    display: flex;
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: calc(0px - var(--textFontSizeSmall));
    transition: transform .1s ease-out;
}

.social-logo--insta {
    margin-left: var(--textFontSizeSmall);
}

.svg-insta,
.svg-fb {
    fill: var(--logoColor);
    transition: fill .1s ease-out;
}

.social-logo:hover {
    transform: scale(105%);
}


.social-logo:hover .svg-insta,
.social-logo:hover .svg-fb {
    fill: var(--cantinaRosa);
}

.social-splash {
    top: 0;
    height: 50px;
    position: absolute;
}



/* --> MENU <---------- */

.menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    height: 100%;
    padding: var(--bodyPadding);
    padding-bottom: 0;
    grid-template-columns: repeat(4, 1fr) auto;
    /* pointer-events: unset; */
    /* pointer-events: none; */
    /* z-index: -10; */
}

.menu-content-scroller {
    grid-column: 1 / 5;
    position: relative;
    display: flex;
    /* justify-content: end; */
    overflow: scroll;
    transition: transform .5s ease-in-out;
    z-index: 110;
    justify-content: end;
    pointer-events: auto;
    /* background-color: #33a58e; */
}

.menu-content-scroller--closed {
    transform: translateY(100%);
}

.menu-content {
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    padding-left: var(--textFontSizeSmall);
    width: 100%;
    max-width: 600px;
    z-index: 200;
    /* pointer-events: auto; */
}

.menu-content::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: calc(100% - var(--bodyPadding));
    height: var(--food-menu-full-height, 50px);
    background-color: var(--cantinaRosa);
    z-index: -100;
}

/* MENU CATHEGORIES */

.menu__cat-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px 0 8px;
    height: auto;
}

.menu__cat__head-wrapper {
    position: relative;
    display: flex;
    align-items: end;
    width: auto;
    height: calc(var(--bodyPadding) * 5);
    z-index: 5000;
}

.menu__cat__head {
    width: 100%;
    position: relative;
    font-size: var(--menuCatHead);
    line-height: 2.5rem;
    font-variation-settings: "slnt" 0, "wdth" 50, "wght" 900;
    transition: font-variation-settings 1s ease-in-out;
    color: var(--cantinaLila);
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: normal;
}

.menu__cat__head .blob {
    color: var(--cantinaLila);
}

/* MENU DISHES */

.menu__cat__dishes-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-top: 8px;
    /* overflow-x: visible; */
}

.menu____dish-wrapper {
    position: relative;
    display: flex;
    overflow: visible;
}

.menu____dish-content {
    position: relative;
    display: block;
    width: 80%;
    background-color: var(--cantinaGreen);
    /* margin-right: 8px; */
    padding: 16px 8px 8px 8px;
    overflow-x: visible;
}

/* Dish headlines */

.menu____dish-head {
    position: relative;
    font-size: calc(var(--textFontSize) * 1.8);
    line-height: 1.5rem;
    font-variation-settings: "slnt" 0, "wdth" 50, "wght" 600;
    overflow: visible;
    padding-bottom: 8px;

    color: var(--bgColor);
    hyphens: auto;
    overflow-wrap: break-word;
    /* or word-wrap */
    word-break: normal;
}

.menu____dish-head.long-head {
    padding-right: calc(var(--bodyPadding) * 3.5);
}

.menu-cat--tacos .menu____dish-head {
    color: var(--cantinaLila);
    color: black;
}

/* --> Menu Prices <-- */

.menu____dish-price {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 600;
    right: var(--textFontSizeSmall);
    color: var(--logoColor);
    text-shadow: var(--cantinaLila) 2px 2px 2px;
    /* background-color: #72808a; */
    text-align: right;
    width: 100%;
    z-index: 100;
}

.menu____dish-price--big {
    font-size: calc(var(--bodyPadding) * 1.75);
    /* line-height: 1.5rem; */
}

.menu____dish-price--prewrap {
    white-space: pre-wrap;

}

.menu____dish-price.move-up {
    transform: translateY(-5%);
}

.menu____dish-price.move-down {
    transform: translateY(10%);
}


.dish-price--flex-item {
    display: flex;
    flex-direction: column;
}

div.menu__cat-wrapper[data-menu-cat="tacos"] .dish-price--flex-item:nth-child(1) span:first-child {
    height: calc(1em * 0.75);
}

.menu____dish-price__left-aligned {
    text-align: right;
}

.menu____dish-price__left-aligned.small {
    margin-top: 1rem;
    z-index: 10;
    font-size: var(--bodyPadding);
    line-height: var(--bodyPadding);
    /* background-color: green; */
}

.menu____dish__text-container {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-right: 25px;
}

.menu____dish__text {
    width: 100%;
    padding-top: 4px;
    /* padding-right: 50px; */
    position: relative;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-variation-settings: "slnt" 0, "wdth" 50, "wght" 500;
}

.menu____dish__text--dish-head {
    padding-bottom: 4px;
    padding-right: 8px;
}

.menu____dish__text--top-border {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid var(--cantinaLila);
}

.menu____dish__text--add-extra,
.menu____dish__text--intro {
    position: relative;
    padding-top: 4px;
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 600;
    color: var(--logoColor);
}

.menu____dish__text--intro {
    padding-right: 24px;
    color: var(--bgColor);
    width: fit-content;
}

[data-menu-cat="bao"] .menu____dish__text--intro {
    text-decoration-thickness: 20px;
}



.menu-cat--broth-n-buns .menu__cat____dish-content:first-child .menu____dish__text--add-extra {
    color: black;
}

.menu____dish__text--add-extra .bold {
    font-variation-settings: "wght" 900;
}

/* Dotted Menu Items */

.menu____dish__text--indent {
    color: var(--bgColor);
    padding-left: 8px;
}

/* .menu____dish__text--indent:nth-child(odd) {
    color: var(--cantinaGrey);
} */

[data-menu-cat="bao"] ul li {
    color: var(--cantinaCream);
}

.menu____dish__text--indent::before {
    content: "•";
    position: absolute;
    left: 0;
    /* top: 0.25em; */
    color: var(--cantinaLila);
    width: 1rem;
}

.menu-content__extra-info-container {
    position: relative;
    margin-top: 24px;
    position: relative;
    display: flex;
}

.menu____extra-info {
    position: relative;
    display: block;
    width: auto;
    /* height: fit-content; */
    /* padding-bottom: 48px; */
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 600;
    color: var(--bgColor);
    /* white-space: pre-wrap; */
    /* border: 1px solid red; */
}


/* -> MENU BUTTONS <---------- */

.menu__btns-wrapper {
    grid-column: 5;
    display: flex;

    align-self: flex-end;
    flex-direction: column;
    gap: var(--bodyPadding);
    padding-bottom: var(--bodyPadding);
    /* z-index: 1000; */
    pointer-events: auto;
}

.menu__btns__secBtns-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    transition: transform .5s ease-in-out;
}

.menu__btns__secBtns-wrapper--closed {
    transform: translateY(150%);
}

.menu__btn {
    all: none;
    flex: 1 0 auto;
    background-color: var(--cantinaRosa);
    padding: 12px 8px;
    border-style: none;
    font-size: calc(var(--textFontSize) * 1.25);
    font-size: var(--textFontSize);
    /* letter-spacing: -1px; */
    font-family: var(--fontCantina);
    font-variation-settings: "wght" 600;
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400;
    transition: all .15s ease-in-out;
    /* z-index: 1000; */
    /* pointer-events: all; */
    cursor: pointer;
}

@media (hover: hover) {

    .menu__btn:hover,
    .menu__btn.active:hover {
        background-color: var(--cantinaGrey);
        color: var(--bgColor);
    }
}

button.menu__btn.pressed {
    scale: 90%;
    background-color: var(--cantinaLila);
}

.menu__btn.active {
    background-color: var(--cantinaGreen);
    color: var(--bgColor);
    box-shadow: var(--cantinaLila) 2px 2px 0px;
    scale: 100%;
    outline: none;
}

.menu__btn__opBtn-wrapper {
    display: flex;
    z-index: 100;
}

.menu__btn__opBtn {
    text-align: center;
    padding: 12px 8px;
    background-color: var(--cantinaRosa);
    color: var(--bgColor);
    /* box-shadow: var(--logoColor) 2px 2px 0px; */
    pointer-events: auto;

    /* box-shadow: var(--logoColor) 0px 0px 0px; */

    outline: 1px dashed var(--logoColor);
    outline-offset: 0;
    animation: opBtnAnim .5s linear infinite reverse;
}

@keyframes opBtnAnim {
    to {
        outline-offset: -10px;
        color: var(--cantinaRosa);
        box-shadow: var(--cantinaLila) 4px 4px 0px;
    }
}

/* .menu__btn__opBtn.active {
} */

.menu__btn__opBtn.pressed.active {
    scale: 100%;
    animation: none;

}

.menu__btn__opBtn.pressed.active {
    background-color: var(--cantinaGreen);
}

@media (hover: hover) {

    .menu__btn__opBtn.pressed.active:hover,
    .menu__btn__opBtn:hover {
        background-color: var(--cantinaGrey);
        animation-play-state: paused;
    }
}




.cantina-skull-svg-wrapper {
    --skullHeight: 80px;
    position: absolute;
    --skull-color: var(--logoColor);
    bottom: calc(var(--bodyPadding) * 1.6);
    padding: 0 var(--bodyPadding);
    right: 0;
    display: flex;
    justify-content: end;
    height: var(--skullHeight);
    aspect-ratio: 1/1;
    z-index: -1000;
    pointer-events: none;
}

.cantina-skull-svg-wrapper svg {
    fill: var(--skull-color);
    transform: translate(0) rotate(0deg);
    animation: skull-move 10s ease-in-out infinite;
}

@keyframes skull-move {
    15% {
        transform: translate(0, -10%) rotate(60deg);
    }

    20% {
        transform: translate(0, 0) rotate(15deg);
    }

    25% {
        transform: translate(10%, -10%) rotate(-5deg);
    }

    30% {
        transform: translate(10%, 10%) rotate(12deg);
    }

    35% {
        transform: translate(0%, 0%) rotate(-12deg);
    }

    40% {
        transform: translate(0%, 0%) rotate(12deg);
    }

    55% {
        transform: translate(-50%, 0%) rotate(-15deg);
    }

    60% {
        transform: translate(-50%, 0%) rotate(-15deg);
    }

    65% {
        transform: translate(-45%, -10%) rotate(30deg);
    }

    70% {
        transform: translate(-40%, 0%) rotate(-10deg);
    }

    75% {
        transform: translate(-40%, 0%);
    }

    78% {
        transform: translate(-35%, -5%);
    }

    81% {
        transform: translate(-30%, 0%)rotate(15deg);
    }

    84% {
        transform: translate(-15%, 5%);
    }

    86% {
        transform: translate(0%, 0%) rotate(15deg);
    }

    90% {
        transform: translate(10%, 15%);
    }

    95% {
        transform: translate(5%, 10%)rotate(5deg);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

.skull-left-eye {
    fill: var(--skull-color);
    animation: skull-left-eye-anim 10s infinite;
}

@keyframes skull-left-eye-anim {
    24% {
        fill: var(--skull-color);
    }

    25% {
        fill: var(--cantinaGreen);
    }

    27% {
        fill: var(--skull-color);
    }

    56% {
        fill: var(--skull-color);
    }

    57% {
        fill: var(--cantinaGreen);
    }

    59% {
        fill: var(--skull-color);
    }


    87% {
        fill: var(--skull-color);
    }

    88% {
        fill: var(--cantinaGreen);
    }

    90% {
        fill: var(--skull-color);
    }

}

.skull-right-eye {
    fill: var(--skull-color);
    animation: skull-right-eye-anim 10s infinite;
}

@keyframes skull-right-eye-anim {
    24% {
        fill: var(--skull-color);
    }

    25% {
        fill: var(--cantinaGreen);
    }

    27% {
        fill: var(--skull-color);
    }


    87% {
        fill: var(--skull-color);
    }

    88% {
        fill: var(--cantinaGreen);
    }

    90% {
        fill: var(--skull-color);
    }
}


/* ----------> VARIOUS <---------- */


.zero-opacity {
    transition: opacity 1.5s ease-in;
    opacity: 0;
}

.hidden-club-field {
    position: absolute;
    visibility: hidden;
}

/* -> BOKA BORD <---------- */

.boka-bord-wrapper {
    --bokaBordBGVinkel: 0deg;
    --bokaBordLinkVinkel: calc(var(--bokaBordBGVinkel) - 5deg);
    --bokaBordFontPadding: .75rem;
    --circlePointerSize: 75px;
    --bokaBordMinus: 4px;
    font-size: var(--bokaBordFontPadding);
    line-height: 1em;
    position: absolute;
    left: 0;
    top: 240px;
    display: flex;
    pointer-events: auto;
    width: 100%;
    /* align-items: end; */
    pointer-events: none;
    /* border: 1px solid red; */
    /* background-color: orange; */
    /* z-index: 1000; */
}


.boka-bord-button-wrapper {
    position: relative;
    top: calc(var(--circlePointerSize) * .55);
    left: calc(var(--bokaBordMinus) * -1);
    background-color: var(--cantinaLilaDark);
    pointer-events: auto;
}

.boka-bord__link {
    position: relative;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    padding: var(--bokaBordFontPadding);
    color: var(--cantinaCream);
    background-color: var(--cantinaGreen);
    font-variation-settings: "slnt" 0, "wdth" 75, "wght" 300;
    transform-origin: top right;
    transition: background-color .25s;
    animation: boka-flicker 4s linear infinite alternate-reverse;
    outline: .5px solid var(--cantinaCream);
    outline-offset: -10px;
}

@keyframes boka-flicker {
    0% {
        transform: rotate(var(--bokaBordBGVinkel));
    }

    60% {
        transform: rotate(var(--bokaBordLinkVinkel));
    }

    65% {
        transform: rotate(var(--bokaBordBGVinkel));
    }

    70% {
        transform: rotate(var(--bokaBordLinkVinkel));
    }

    75% {
        transform: rotate(var(--bokaBordBGVinkel));
    }

    80% {
        transform: rotate(var(--bokaBordLinkVinkel));
    }

    85% {
        transform: rotate(var(--bokaBordBGVinkel));
    }

    95% {
        transform: rotate(var(--bokaBordLinkVinkel));
    }

    100% {
        transform: rotate(var(--bokaBordBGVinkel));
    }
}

@media (hover: hover) {
    .boka-bord__link:hover {
        background-color: var(--cantinaRosa);
        color: var(--bgColor);
        animation-play-state: paused;
    }
}

.boka-bord__dummy-text {
    display: none;
}

.boka-bord__dummy-text span {
    font-family: var(--fontCantina);
    font-variation-settings: "slnt" 0, "wdth" 50, "wght" 300;
    text-decoration: none;
}

.boka-bord__dummy-text span:nth-child(even) {
    font-variation-settings: "slnt" 0, "wdth" 50, "wght" 500;
    color: var(--cantinaLila);
}

/* -> Pil och Boka här text <---------- */

.half-circle-svg-pointer-wrapper {
    position: absolute;
    align-self: flex-start;
    left: var(--textFontSize);
    width: var(--circlePointerSize);
    aspect-ratio: 1 / 1;
    z-index: 100;
    pointer-events: none;
    /* background-color: orange; */
}

.half-circle-pointer__content {
    position: relative;
}

.half-circle-svg-pointer__text {
    color: var(--logoColor);
    font-variation-settings: "slnt" 0, "wdth" 75, "wght" 700;
    z-index: 100;
    /* text-align: left; */
    align-self: flex-start;
}

.half-circle-svg-pointer__svg {
    position: absolute;
    /* rotate: 90deg; */
    width: 100%;
    transform: translate(-16px, 2px) rotate(58deg);
    top: 0;
    /* transform: scale(-1, 1) rotate(45deg) translateY(0px); */
}

.half-circle-pointer__arc {
    fill: none;
    stroke: var(--logoColor);
    stroke-width: 1;
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    animation: drawArc 2s linear infinite;
}

@keyframes drawArc {
    to {
        stroke-dashoffset: 0;
    }
}

.half-circle-pointer__arrow {
    fill: var(--logoColor);
    opacity: 0;
    animation: fadeArrow 2s linear infinite;
}

@keyframes fadeArrow {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    46% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}


/* --> EXTRA PAGES GENERAL <---------- */

.extra-pages-body {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--clubBGColor);
    padding: var(--bodyPadding);
    overflow-y: scroll;
    container-type: size;
    container-name: extra-pages-body;
}

.extra-pages-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "ltr-ncnd-variable", sans-serif;
    font-variation-settings: "wght" 600;
    text-align: center;
    height: auto;
    width: auto;
    margin-bottom: calc(var(--bodyPadding) * 2);
    align-self: flex-end;

}

.extra-pages-headline {
    font-size: var(--textFontSize);
    text-align: center;
    padding-bottom: var(--textFontSize);
    color: var(--logoColor);

}

.extra-pages-sub {
    max-width: 75%;
    color: var(--logoColor);
    /* color: black; */
    font-size: 16px;
}

.back-to-cantina-link {
    padding-top: var(--textFontSize);
}



.cantina-svg-logo {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    /* padding-right: var(--bodyPadding); */
    /* aspect-ratio: 1/1; */
    /* background-color: #72808a; */
}

.cantina-svg-logo--boka-bord {
    margin: var(--bodyPadding) 0;
}

.cantina-svg-logo--form-success {
    margin: 16px 0;
}

.back-to-cantina-link {
    /* background-color: #381460; */
    margin-bottom: var(--bodyPadding);
}

/* ----------> EXTRA PAGES BOKA BORD <---------- */

.cantina-svg-logo--boka-bord svg {
    fill: var(--cantinaLila);
}

/* ----------> EXTRA PAGES FORM CONFIRMED <---------- */

.form-confirmed-body {
    background-color: var(--bgColor);
}

.form-confirmed-headline {
    font-size: 24px;
}



/* ----------> EXTRA PAGES FORM SUCCESS <---------- */

@container extra-pages-body (min-height: 600px) {

    .extra-pages-body-response .extra-pages-wrapper {
        align-self: center;
        /* background-color: orange; */
    }
}

/* .form-success-body,
.form-exists-body {
    align-items: end;
} */


.form-success-wrapper,
.form-exists-wrapper {
    margin-bottom: 0;
}

.cantina-svg-logo--form-success svg {
    fill: var(--logoColor);
}

.extra-pages-sub--form-success {
    color: var(--bgColor);
    font-size: 16px;
    /* font-size: var(--textFontSizeSmall); */
}

.form__back-to-enter-new-member {

    color: var(--cantinaGreen);
}

.cantina-svg-logo--form-confirmed svg {
    fill: var(--cantinaLila);
}





/* ----------> BOKA BORD <---------- */

.boka-bord-body {
    background-color: var(--cantinaRosa);
}

.extra-pages-headline--boka-bord {
    color: var(--bgColor);
}

.page-boka-bord-wrapper {
    height: fit-content;
}


/* ----------> FOOTER <---------- */
.footer {
    position: absolute;
    bottom: var(--bodyPadding);
    left: var(--bodyPadding);
    color: var(--logoColor);
    /* z-index: -100; */
}


/* --> MEDIA QUERRIES <---------- */



@media (min-width: 420px) {



}



@media (min-width: 769px) and (min-height: 1024px),
(min-width: 1256px) and (min-height: 769px) {


}

@media (min-width: 1440) and (min-height:768px) {


}